$bgColor: #fff;
$scrollWidth: 3%;

@mixin skillColsWidth($scrollWidth) {
    width: (100%/2-$scrollWidth/2);
}

@mixin mainFont {
    font: normal 18px Arial, sans-serif;
    color: #000;
}

@mixin link {
    display: block;
    color: #373636;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
}

@mixin grid($topLineCols, $lines, $margin) {
    width: 25%;
    height: 100%/$lines;
    margin: $margin;
    box-sizing: border-box;

    &:nth-child(-n+2) {
        width: 100%/$topLineCols;
    }
}

.body {
    @include mainFont;

    margin: 0;
}

.header,
.main {
    display: flex;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;

    background-color: $bgColor;
}

.title {
    font-size: 2.66em;
    line-height: 1.2;

    margin: 0;
    box-sizing: border-box;
}

.subtitle {
    font-size: 1.33em;
    line-height: 3.25;

    margin: 0;
    box-sizing: border-box;
}

.copyright {
    font-size: 1.66em;
    line-height: 2.6;
}

.paragraph {
    font-size: 1em;
    line-height: 1.667;

    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    padding: 0 110px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 15%;

    background-color: $bgColor;
}

.menu__inner {
    display: flex;
    justify-content: space-between;

    width: 40%;
}

.menu__item {
    @include link;
}

.collection {
    height: 75%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header__scroll {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: $bgColor;
}

.collection__item {
    @include grid(2, 2, 0);
}

.summary {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary .title {
    display: flex;
    justify-content: center;
    
    border-right: 2px solid black;
    width: 50%;
}

.summary .paragraph {
    width: 50%;
    padding: 0 5%;
}

.skills {
    display: flex;

}

.skills__item {
    @include skillColsWidth($scrollWidth);
}

.skills__item .subtitle,
.about .title {
    text-align: center;
}

.skills__img {
    width: 100%;
}

.skills .scroll {
    width: $scrollWidth;
}

.skills__menu {
    @include skillColsWidth($scrollWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills__name {
    @include link;
    font-size: 1em;
}

.about {
    display: flex;
    height: 1150px;
    align-items: center;
}

.about .title {
    margin-bottom: 120px;
}
.about .paragraph {
    width: 100%;
        padding: 0 5%;
    box-sizing: border-box;
}

.about__photo {
    width: 100%;
    height: auto;
    // padding: 0 5%;
    box-sizing: border-box;
}


.form__field {
    border: none;
    margin: 0;
    padding: 0;
}

.form__label {
    display: block;
    font-size: 1.33em;
    margin-bottom: 10px;
}

.form__input {
    font-size: 1.33em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 50px;
    margin-bottom: 10px;
    outline: none;
    background-color: #F1F1F1;
    border: none;
}

#form__message {
    resize: none;
    height: 150px;
}

.form__submit {
    font-size: 1.22em;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    
}


.form__submit:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 850px;
}

.footer .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    width: 45%;
}

.footer .form {
    width: 45%;
}