.body {
  font: normal 18px Arial, sans-serif;
  color: #000;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  padding: 0 6%;
  box-sizing: border-box;
}

.title {
  font-size: 2.66em;
  line-height: 1.2;
  margin: 0;
  box-sizing: border-box;
}

.subtitle {
  font-size: 1.33em;
  line-height: 3.25;
  margin: 0;
  box-sizing: border-box;
}

.paragraph {
  font-size: 1em;
  line-height: 1.667;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 1200px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.header .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 15%;
  background-color: #fff;
}
.header .menu__inner {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.header .burger {
  display: none;
}
.header .menu__item {
  display: block;
  color: #373636;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.33em;
}
.header .menu__item:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}
.header .collection {
  display: flex;
  flex-wrap: wrap;
  height: 75%;
  width: 100%;
}
.header .collection__item {
  width: 25%;
  height: 50%;
  margin: 0;
  box-sizing: border-box;
}
.header .collection__item:nth-child(-n+2) {
  width: 50%;
}
.header .header__scroll {
  font-size: 1.22em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
}
.summary .title {
  display: flex;
  justify-content: center;
  width: 50%;
  border-right: 2px solid #000;
}
.summary .paragraph {
  width: 50%;
  padding: 0 5%;
}

.skills {
  display: flex;
  justify-content: space-between;
  height: 1000px;
}
.skills .skills__item {
  width: 45%;
}
.skills .skills__item .subtitle {
  text-align: center;
}
.skills .skills__img {
  width: 100%;
}
.skills .skills .scroll {
  width: 10%;
}
.skills .skills__menu {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}
.skills .skills__name {
  display: block;
  color: #373636;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.66em;
}
.skills .skills__name:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.scroll__item {
  background-color: #F1F1F1;
  width: 30px;
  height: 30px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1150px;
}
.about .about__text {
  width: 45%;
  height: 70%;
}
.about .title {
  text-align: center;
  margin-bottom: 120px;
}
.about .paragraph {
  width: 100%;
  box-sizing: border-box;
}
.about .about__photo {
  width: 660px;
  height: auto;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 850px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .contacts {
  display: flex;
  flex-wrap: wrap;
}
.footer .contacts .contacts__address {
  font-style: normal;
  width: 100%;
}
.footer .contacts .contacts__phone,
.footer .contacts .contacts__email {
  width: 40%;
}
.footer .title {
  text-align: center;
  margin-bottom: 160px;
}
.footer .footer__contacts {
  width: 45%;
}
.footer .form {
  width: 45%;
}
.footer .copyright {
  font-size: 1.66em;
  line-height: 2.6;
  margin: 0;
}

.form__field {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-size: 1.33em;
  display: block;
  margin-bottom: 10px;
}

.form__input {
  font-size: 1.33em;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background-color: #F1F1F1;
}

#form__message {
  height: 150px;
  resize: none;
}

.form__submit {
  font-size: 1.22em;
  color: #000;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.form__submit:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

@media (max-width: 1440px) {
  .about .about__photo {
    width: 528px;
  }
}
@media (max-width: 1200px) {
  .body {
    font-size: 12.6px;
  }

  .skills {
    height: 500px;
  }

  .about {
    height: 600px;
  }
  .about .about__photo {
    width: 396px;
  }
  .about .title {
    margin-bottom: 60px;
  }

  .footer {
    height: 600px;
  }
  .footer .title {
    margin-bottom: 80px;
  }

  .form__input {
    height: 30px;
  }

  #form__message {
    height: 90px;
  }
}
@media (max-width: 992px) {
  .body {
    font-size: 10.8px;
  }

  .about .about__photo {
    width: 264px;
  }

  .footer {
    height: 480px;
  }
}
@media (max-width: 768px) {
  .header .menu {
    height: 10%;
  }
  .header .menu__inner {
    display: none;
  }
  .header .burger {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
  }
  .header .burger .burger__item {
    height: 10px;
    width: 100%;
    border-bottom: 2px solid #000;
  }
  .header .header__scroll {
    height: 15%;
  }

  .skills {
    justify-content: space-between;
    width: 100%;
  }
  .skills .skills__item {
    width: 90%;
  }
  .skills .skills__menu {
    display: none;
  }
  .skills .scroll {
    height: 70%;
  }
  .skills .scroll__item {
    width: 10px;
    height: 10px;
  }

  .summary {
    flex-direction: column;
    height: 250px;
  }
  .summary .title {
    width: 100%;
    margin-bottom: 40px;
    border-right: none;
  }
  .summary .paragraph {
    width: 100%;
  }

  .about {
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
  }
  .about .about__photo,
.about .title {
    margin-bottom: 40px;
  }
  .about .about__text {
    width: 100%;
    height: auto;
  }

  .footer {
    height: 680px;
  }
  .footer .container {
    padding-top: 60px;
  }
  .footer .footer__content {
    flex-direction: column;
  }
  .footer .footer__contacts {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer .contacts {
    justify-content: space-evenly;
  }
  .footer .contacts .contacts__address,
.footer .contacts .contacts__phone,
.footer .contacts .contacts__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
  }
  .footer .title {
    margin-bottom: 20px;
  }
  .footer .form {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .container {
    min-width: 320px;
  }
}