$bgColor: #fff;
$inputColor: #F1F1F1;
$fontColor: #000;
$linksColor: #373636;
$btnsColor: #000;
$borderColor: #000;
$scrollColor: #F1F1F1;
$scrollColorActive: #D4D4D4;
$photoStandartWidth: 660px;
$standartFontSize: 18px;
$titleStandartFontSize: 2.66em;
$subtitleStandartFontSize: 1.33em;
$paragraphStandartFontSize: 1em;
$headerMenuStandartFontSize: 1.33em;
$headerScrollStandartFontSize: 1.22em;
$skillsNameStandartFontSize: 1.66em;
$scrollWidth: 10%;

@mixin skillColumnWidth($scrollWidth) {
    width: (100%/2-$scrollWidth/2);
}

@mixin mainFont {
    font: normal $standartFontSize Arial, sans-serif;
    color: $fontColor;
}

@mixin link {
    display: block;

    color: $linksColor;
    text-decoration: none;
    
    cursor: pointer;

    &:hover {
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
}

@mixin grid($topLineColumns, $lines, $margin) {
    width: 25%;
    height: 100%/$lines;
    margin: $margin;
    box-sizing: border-box;

    &:nth-child(-n+2) {
        width: 100%/$topLineColumns;
    }
}

.body {
    @include mainFont;

    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    padding: 0 6%;
    box-sizing: border-box;
}


.title {
    font-size: $titleStandartFontSize;
    line-height: 1.2;

    margin: 0;
    box-sizing: border-box;
}

.subtitle {
    font-size: $subtitleStandartFontSize;
    line-height: 3.25;

    margin: 0;
    box-sizing: border-box;
}

.paragraph {
    font-size: $paragraphStandartFontSize;
    line-height: 1.667;

    margin: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    max-height: 1200px;
    width: 100%;
    box-sizing: border-box;

    background-color: $bgColor;

    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        height: 15%;
    
        background-color: $bgColor;
    }
    
    .menu__inner {
        display: flex;
        justify-content: space-between;
    
        width: 50%;
    }

    .burger {
        display: none;
    }
    
    .menu__item {
        @include link;

        font-size: $headerMenuStandartFontSize;
    }
    
    .collection {
        display: flex;
        flex-wrap: wrap;

        height: 75%;
        width: 100%;
    }

    .collection__item {
        @include grid(2, 2, 0);
    }
    
    .header__scroll {
        font-size: $headerScrollStandartFontSize;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 10%;

        background-color: $bgColor;
    }
}

.main {
    display: flex;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;

    background-color: $bgColor;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 380px;

    .title {
        display: flex;
        justify-content: center;

        width: 50%;
        
        border-right: 2px solid $borderColor;
    }
    
    .paragraph {
        width: 50%;
        padding: 0 5%;
    }
}

.skills {
    display: flex;
    justify-content: space-between;
    height: 1000px;

    .skills__item {
        @include skillColumnWidth($scrollWidth);

        .subtitle {
            text-align: center;
        }
    }

    .skills__img {
        width: 100%;
    }
    
    .skills .scroll {
        width: $scrollWidth;
    }

    .skills__menu {
        @include skillColumnWidth($scrollWidth);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        height: 50%;
    }
    
    .skills__name {
        @include link;
        font-size: $skillsNameStandartFontSize;
    }

    .skills__name-active {
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.scroll__item {
    background-color: $scrollColor;
    width: 30px;
    height: 30px;
}

// .scroll__item-active {
//     background-color: red;
// }

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 1150px;

    .about__text {
        width: 45%;
        height: 70%;
    }

    .title {
        text-align: center;

        margin-bottom: 120px;
    }

    .paragraph {
        width: 100%;
        box-sizing: border-box;
    }

    .about__photo {
        width: $photoStandartWidth;
        height: auto;
        box-sizing: border-box;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 850px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-top: 100px;
    }

    .footer__content {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;

        .contacts__address {
            font-style: normal;

            width: 100%;
        }

        .contacts__phone,
        .contacts__email {
            width: 40%;
        }
        
    }

    .title {
        text-align: center;

        margin-bottom: 160px;
    }

    .footer__contacts {
        width: 45%;
    }
    
    .form {
        width: 45%;
    }

    .copyright {
        font-size: 1.66em;
        line-height: 2.6;

        margin: 0;
    }
}

.form__field {
    margin: 0;
    padding: 0;

    border: none;
}

.form__label {
    font-size: 1.33em;

    display: block;

    margin-bottom: 10px;
}

.form__input {
    font-size: 1.33em;

    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 50px;
    margin-bottom: 10px;

    border: none;
    outline: none;

    background-color: $inputColor;
}

#form__message {
    height: 150px;

    resize: none;
}

.form__submit {
    font-size: 1.22em;
    color: $btnsColor;

    border: none;
    outline: none;

    background-color: transparent;
    cursor: pointer;
}

.form__submit:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

@media (max-width: 1440px) {
    .about {
        .about__photo {
            width: $photoStandartWidth*0.8;
        }
    }
}

@media (max-width: 1200px) {
    
    .body {
        font-size: $standartFontSize*0.7;
    }    

    .skills {
        height: 500px;
    }
    
    .about {
        height: 600px;

        .about__photo {
            width: $photoStandartWidth*0.6;
        }

        .title {
            margin-bottom: 60px;
        }
    }

    .footer {
        height: 600px;

        .title {
            margin-bottom: 80px;
        }
    }

    .form__input {
        height: 30px;
    }

    #form__message {
        height: 90px;
    }
}

@media (max-width: 992px) {
    
    .body {
        font-size: $standartFontSize*0.6;
    }   

    .about {
        .about__photo {
            width: $photoStandartWidth*0.4;
        }
    }

    .footer {
        height: 480px;
    }
}

@media (max-width: 768px) {
    .header {
        .menu {
            height: 10%;
        }

        .menu__inner {
            display: none;
        }

        .burger {
            display: flex;
            flex-direction: column;
    
            width: 20px;
            height: 20px;
    
            .burger__item {
                height: 10px;
                width: 100%;
                border-bottom: 2px solid #000;
            }
        }

        .header__scroll {
            height: 15%;
        }
    }

    .skills {
        justify-content: space-between;

        width: 100%;

        .skills__item {
            width: 90%;
        }

        .skills__menu {
            display: none;
        }

        .scroll {
            height: 70%;
        }

        .scroll__item {
            width: 10px;
            height: 10px;
        }

    }
    .summary {
        flex-direction: column;
    
        height: 350px;

        .title {
            width: 100%;
            margin-bottom: 40px;
            border-right: none;
        }
        .paragraph {
            width: 100%;
            padding: 0;
        }
    }
    
    .about {
        flex-direction: column;
        justify-content: space-evenly;

        height: 850px;

        .about__photo,
        .title {
            margin-bottom: 40px;
        }

        .about__text {
            width: 100%;
            height: auto;
        }
    }

    .footer {
        height: 680px;
        
        .container {
            padding-top: 60px;
        }

        .footer__content {
            flex-direction: column;
        }

        .footer__contacts {
            width: 100%;
            margin-bottom: 50px;
        }

        .title {
            margin-bottom: 20px;
        }

        .form {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .container {
        min-width: 320px;
    }
}